<div class="container_bar">
  <nav class="navbar navbar-expand-md navbar-dark bg-info">
  <ul class="navbar-nav mx-auto">
    <li *ngIf="isHidden" class="nav-item pill-color">
      <a class="nav-link pill-color" routerLink="/help" routerLinkActive="active" >Справка</a>
    </li>
    <li *ngIf="isHidden  && isHiddenByRoleUser" class="nav-item pill-color">
      <a class="nav-link" routerLink="/test" routerLinkActive="active">Тест</a>
    </li>
    <li *ngIf="isHidden  && isHiddenByRoleUser" class="nav-item pill-color">
      <a class="nav-link" routerLink="/list" routerLinkActive="active">Учиться</a>
    </li>
    <li *ngIf="isHidden  && isHiddenByRoleUser" class="nav-item pill-color">
      <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Статистика</a>
    </li>
    <li *ngIf="isHidden  && isHiddenByRoleAdmin" class="nav-item pill-color">
      <a class="nav-link" routerLink="/users" routerLinkActive="active">Пользователи</a>
    </li>
    <li *ngIf="isHidden  && isHiddenByRoleAdmin" class="nav-item pill-color">
      <a class="nav-link" routerLink="/exercises" routerLinkActive="active">Упражнения</a>
    </li>
    <li class="nav-item pill-color">
      <a class="nav-link" routerLink="/login" routerLinkActive="active">Профиль</a>
    </li>
  </ul>
  </nav>
</div>
<router-outlet></router-outlet>
