<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark bg-info">
  <ul class="navbar-nav mx-auto">
    <li class="nav-item pill-color">
      <a class="nav-link pill-color" routerLink="/help" routerLinkActive="active">Справка</a>
    </li>
    <li class="nav-item pill-color">
      <a class="nav-link" routerLink="/test" routerLinkActive="active">Тест</a>
    </li>
    <li class="nav-item pill-color">
      <a class="nav-link" routerLink="/list" routerLinkActive="active">Учиться</a>
    </li>
    <li class="nav-item pill-color">
      <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Статистика</a>
    </li>
  </ul>
  </nav>
</div>
<router-outlet></router-outlet>
