<div class="container">

  <div class="form-group row">
    <label for="login" class="col-sm-4 col-form-label">Логин пользователя: </label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="login" [(ngModel)]="login">
    </div>
  </div>
  <div class="form-group row">
    <label for="allTimeTrain" class="col-sm-4 col-form-label">Количество упражнений за все время: </label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="allTimeTrain" [(ngModel)]="exCompl">
    </div>
  </div>
  <div class="form-group row">
    <label for="winFail" class="col-sm-4 col-form-label">Успешных/Неуспешных: </label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="winFail" [(ngModel)]="wins +'/' + fails">
    </div>
  </div>
  <div class="form-group row">
    <label for="allTimeErr" class="col-sm-4 col-form-label">Ошибок за все время: </label>
    <div class="col-sm-2">
      <input type="text" readonly class="form-control-plaintext" id="allTimeErr" [(ngModel)]="allTimeErr">
    </div>
  </div>
  <div style="display: block;">
    <canvas baseChart width="400" height="100"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins">
    </canvas>
  </div>
  <p class="text-center">Список выполненных упражнений</p>
  <div class="pre-scrollable list-h">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ex of completeExercises">{{ex}}</li>
    </ul>
  </div>

  <p class="text-center">Список проваленных упражнений</p>
  <div class="pre-scrollable list-h">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ex of failedExercises">{{ex}}</li>
    </ul>
  </div>
</div>

